*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Trebuchet MS", sans-serif;
  background-image: url(./table.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 100dvh;
  width: 100%;

  display: grid;
  font-weight: bold;
  text-align: center;
  color: white;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25em;
  padding: 1em 1.2em;
  width: 100%;
}
h1 {
  color: goldenrod;
 font-size: 3.5rem;
  /* text-transform: uppercase; */
}

#message-el {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}
button {
  color: white;
  width: 200px;
  padding: 1em 1.5em;
  font-weight: 600;
  border: none;
  background-color: goldenrod;
  border-radius: 5px;
}
